// Content
$content-padding-desktop: 3rem 3rem 1.5rem !default;
$content-padding-mobile: 1.5rem 1.5rem .75rem !default;
$main-transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out !default;